
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.page4{
   
    top: 180%;
    position: absolute;
    width: 100%;
    background-color: white;
    height: 50vh;
    background-color: rgb(31, 199, 255,0.8);
}

.about{
    position: relative;
    
    width: 40%;
    top:15%;
    font-size: 5rem;
    color: white;
    font-weight: bold;
    left: 40%;
    
}

.descriptionAbout{
    
    
    position: relative;
    top: 20%;
    left: 40%;
    width: 40%;
    font-weight: 500;
   
    
}
.me{
    position: absolute;
    top:-4.5%;
    
    
}

@media(max-width: 485px){


    .about{
        left: 0%;
        text-align: center;
        width: 100%;
        
    }
    .descriptionAbout{
        width: 90%;
        left: 5%;
        text-align: center;
        
    }
    .page4{
        top: 250%;
        height: 75vh;
    }

    .me{
        display: none;
    }

}